main{
    display: flex;
    flex-flow: column;
    width: 100%;
    align-items: center;
    padding-top: 6rem;
    row-gap: 4rem;
}

fieldset{
    display: flex;
    justify-content: center;
    width: 30%;
}

fieldset legend{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--main-color);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

form{
    display: flex;
    flex-flow: column;
    width: 100%;
    row-gap: 2rem;
}

.input, .select select, .textarea{
    border-radius: 0.2rem;
    color: var(--main-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--main-color);
}

.input::placeholder{
    opacity: 0.9;
    color: var(--main-color);
}

.textarea::placeholder{
    opacity: 0.9;
    color: var(--main-color);
}

form label{
    color: var(--main-color);
    font-weight: bold;
}

form button{
    width: 10rem;
    border-radius: 0.2rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
    border: none;
    height: 2rem;
    align-self: center;
    cursor: pointer;
}

form button:hover{
    color: var(--main-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--main-color);
}

#titleAlert, #descriptionAlert{
    display: none;
}

@media screen and (max-width: 1100px) and (min-width: 550px){
    fieldset{
        width: 60%;
    }
}

@media screen and (max-width: 550px){
    fieldset{
        width: 80%;
    }

    fieldset legend{
        font-size: 1.5rem;
    }
}