main{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding-top: 6rem;
    row-gap: 4rem;
    padding-bottom: 4rem;
}

.table{
    width: 80%;
    background-color: var(--secondary-color);
    border-bottom: 2px solid var(--main-color);
}

.table thead th, .table tbody th, .table tbody td{
    border-bottom: 2px solid var(--main-color);
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 35%;
}

.table thead th{
    color: var(--main-color);
}

.largeCells{
    max-width: 35%;
    height: auto;
}

.mediumCells{
    width: 15%;
}

.littleCells{
    width: 3%;
}

select{
    background-color: var(--secondary-color);
    border: 2px solid var(--main-color);
    border-radius: 0.2rem;
}

@media screen and (max-width: 780px) and (min-width: 700px){
    
    .table{
        width: 90%;
    }
    
    .table thead th, .table tbody th, .table tbody td{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 700px) and (min-width: 590px){
    .table{
        width: 90%;
    }
    
    .table thead th, .table tbody th, .table tbody td{
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 590px) and (min-width: 410px){
    .table{
        width: 80%;
    }
    
    .table thead th, .table tbody th, .table tbody td{
        font-size: 0.7rem;
    }

    .largeCells{
        max-width: 25%;
        height: auto;
    }

    .mediumCells{
        width: 8%;
    }  

    .deleteBtn{
        width: 2rem;
        height: 2rem;
    }
    
    select{
        width: 4rem;
    }
}

@media screen and (max-width: 410px){
    .table{
        width: 80%;
    }
    
    .table thead th, .table tbody th, .table tbody td{
        font-size: 0.6rem;
    }

    .largeCells{
        max-width: 25%;
        height: auto;
    }

    .mediumCells{
        width: 8%;
    }  

    .deleteBtn{
        width: 2rem;
        height: 2rem;
    }
    
    select{
        width: 4rem;
    }
}