main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
    height: 100%;
}

fieldset{
    width: 50rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

fieldset legend{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--secondary-color);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}

#loginBox{
    display: flex;
    flex-flow: column;
    width: 50rem;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: var(--main-color);
    color: var(--secondary-color);
}

#loginForm{
    width: 80%;
    display: flex;
    flex-flow: column;
    row-gap: 2rem;
    align-items: center;
}

#loginForm p{
    width: 100%;
}

#loginForm input::placeholder{
    opacity: 0.9;
    color: var(--main-color);
}

#loginForm label{
    color: var(--secondary-color);
    font-weight: bold;
}

#passwordAlert, #confirmPasswordAlert, #usernameAlert, #alert{
    display: none;
}

.input, .select select, .textarea{
    border-radius: 0.2rem;
    color: var(--main-color);
    background-color: var(--secondary-color);
}

#loginForm .button{
    width: 10rem;
    border-radius: 0.2rem;
    color: var(--main-color);
    background-color: var(--secondary-color);
    font-weight: bold;
} 

#loginForm .button:hover{
    color: var(--secondary-color);
    background-color: var(--main-color);
    border: 2px solid var(--secondary-color);
}

#loginBox a{
    color: var(--secondary-color);
    border-bottom: 1px solid var(--secondary-color);
}

@media screen and (max-width: 930px) and (min-width: 730px){
    #loginBox{
        width: 80%;
    }

    #loginForm p{
        width: 80%;
    }
}

@media screen and (max-width: 730px) and (min-width: 560px){
    #loginBox{
        width: 80%;
    }

    #loginForm p{
        width: 60%;
    }
}

@media screen and (max-width: 560px){
    #loginBox{
        width: 90%;
    }

    #loginForm p{
        width: 40%;
    }
}