main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5rem;
}

#loginBox{
    -webkit-box-shadow: 0px 0px 2px 1px rgba(147,129,255,0.7); 
    box-shadow: 0px 0px 2px 1px rgba(147,129,255,0.7);
    display: flex;
    flex-flow: column;
    width: 50rem;
    row-gap: 2rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#loginBox h2{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--main-color);
}

#loginForm{
    width: 80%;
    display: flex;
    flex-flow: column;
    row-gap: 2rem;
    align-items: center;
}

#loginForm p{
    width: 100%;
}

#loginForm input{
    border: 1px solid var(--main-color);
}

#passwordAlert, #confirmPasswordAlert, #usernameAlert, #alert{
    display: none;
}

.input, .select select, .textarea{
    border-radius: 0.2rem;
    color: #000;
    background-color: var(--secondary-color);
}

#loginForm .button{
    width: 10rem;
    border-radius: 0.2rem;
    color: var(--secondary-color);
    background-color: var(--main-color);
} 

#loginForm .button:hover{
    color: var(--main-color);
    background-color: var(--secondary-color);
}

#loginBox a{
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

#loginBox a:hover{
    color: #000;
    border-bottom: 1px solid #000;
}